@import url('../Content/home.css');

.container {
    width: 100%;
}

.dropdown {
    margin-top: 10%;
    transform: translate(15%, 0);
}

aside p {
    visibility: hidden;
    font-size: large;
    transform: translate(35%, 0);
}

h1 {
    text-align: center;
}

