@import url('../Content/home.css');

canvas {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 1%;
    background-color:  lightsteelblue;
    opacity: 0.6;
    border-bottom: 7px solid white;
    border-left: 7px solid white;
    border-right: 7px solid white;
}

form {
    text-align: center;
}

#moray {
    /*animation: cssAnimation 3.2484s 16 ease-in-out; or
      animation: cssAnimation 3.2484s infinite ease-in-out;*/
    
    transform: scale(0.2);
    position: fixed;
    top: 20%;
    left: 11%;
    opacity: 0.6;
}

@keyframes cssAnimation {
     0% {top: 8%; left: 11%;}
    25% {top: 8% ; left: 40% ;}
    50% {top: 30%; left: 40%;}
    75% {top: 30%; left: 11%;}
    100% {top: 8%; left: 11%;}
}

/*@keyframes cssAnimation {
from { transform: rotate(0deg) scale(0.2) skew(1deg) translate(-100px); }
to { transform: rotate(360deg) scale(0.2) skew(1deg) translate(300px); }
}*/

