body {
    background-color: rgb( 25,104,134);
    background: url("../images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    color: white;
}

nav li {
    border-bottom: 1px solid white;
}

nav a {
    color: white;
}

footer {
   text-align: center;
   padding-top: 2%;
}


    





