body {
    /*background-color: aqua;*/
    background: url("../images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    color: white;
}

nav li {
    border-bottom: 1px solid white;
}

nav a {
    color: white;
}


    





